name: Build and PR Libraries

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:

  build-soloud-linux-arm64:
    name: Build SoLoud (limux/arm64)
    runs-on: ubuntu-22.04-arm
    steps:
      - name: Install Build Dependencies (packages)
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            build-essential \
            ca-certificates \
            cmake \
            git \
            libasound2-dev
      - name: Build SoLoud
        run: |
          git clone https://github.com/jarikomppa/soloud.git ${{ runner.temp }}/soloud && \
          mkdir -p ${{ runner.temp }}/soloud/contrib/build && \
          cd ${{ runner.temp }}/soloud/contrib/build && \
          cmake ../ -G "Unix Makefiles" -DSOLOUD_BACKEND_SDL2=OFF -DSOLOUD_BACKEND_ALSA=ON -DSOLOUD_C_API=ON && \
          cmake --build . --config Release
      - name: Rename library
        run: |
          mv -v ${{ runner.temp }}/soloud/contrib/build/libsoloud.a ${{ runner.temp }}/soloud/contrib/build/libsoloud_linux_arm64.a
      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: libsoloud_linux_arm64.a
          path: ${{ runner.temp }}/soloud/contrib/build/libsoloud_linux_arm64.a

  build-soloud-linux-amd64:
    name: Build SoLoud (limux/amd64)
    runs-on: ubuntu-22.04
    steps:
      - name: Install Build Dependencies (packages)
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            build-essential \
            ca-certificates \
            cmake \
            git \
            libasound2-dev
      - name: Build SoLoud
        run: |
          git clone https://github.com/jarikomppa/soloud.git ${{ runner.temp }}/soloud && \
          mkdir -p ${{ runner.temp }}/soloud/contrib/build && \
          cd ${{ runner.temp }}/soloud/contrib/build && \
          cmake ../ -G "Unix Makefiles" -DSOLOUD_BACKEND_SDL2=OFF -DSOLOUD_BACKEND_ALSA=ON -DSOLOUD_C_API=ON && \
          cmake --build . --config Release
      - name: Rename library
        run: |
          mv -v ${{ runner.temp }}/soloud/contrib/build/libsoloud.a ${{ runner.temp }}/soloud/contrib/build/libsoloud_linux_amd64.a
      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: libsoloud_linux_amd64.a
          path: ${{ runner.temp }}/soloud/contrib/build/libsoloud_linux_amd64.a

  build-soloud-windows-amd64:
    name: Build SoLoud (windows/amd64)
    runs-on: windows-2025
    steps:
      - name: Install Build Dependencies (packages)
        shell: pwsh
        run: |
          choco install -y --no-progress `
            cmake `
            git
      - name: Build SoLoud
        run: |
          git clone https://github.com/jarikomppa/soloud.git ${{ runner.temp }}/soloud && \
          mkdir -p ${{ runner.temp }}/soloud/contrib/build && \
          cd ${{ runner.temp }}/soloud/contrib/build && \
          cmake .. -G "MinGW Makefiles" .. -DSOLOUD_BACKEND_SDL2=OFF -DSOLOUD_BACKEND_WASAPI=ON -DSOLOUD_C_API=ON
          cmake --build . --config Release
      - name: Rename library
        run: |
          mv -v ${{ runner.temp }}/soloud/contrib/build/libsoloud.a ${{ runner.temp }}/soloud/contrib/build/libsoloud_windows_amd64.a
      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: libsoloud_windows_amd64.a
          path: ${{ runner.temp }}/soloud/contrib/build/libsoloud_windows_amd64.a
